.principal {
    display: grid;
}

.cadastro{
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    
}

.input-padrao {
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding: 10px;
    color: black;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    border-radius: 5px;
    padding: 10px;
}


.acesso {
    display: flex;
    justify-content: center;
}

.acesso a{
    margin-left: 5px;
    color: #0480DC;
}