.ranking-card__box {
    row-gap: 0px;
}

.ranking-card {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    height: auto;
    margin-top: 15px;
    font-size: 0.82rem;
    font-weight: bold;
}

.cartao__item-ranking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    background-color: rgb(128, 128, 128, 0.2);
}