.ranking-card {
    display: flex;
    justify-content: space-around;
    gap: 35px;
    height: auto;
}

.cartao__item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}